.banner-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.banner1-text h1 {
    max-width: 400px;
    line-height: 1.2;
}

.banner1-text p {
    max-width: 460px;
    padding-top: 20px;
}

.banner1-btn button {
    text-decoration: none;
    background: #ff7524;
    color: #fff;
    padding: 9px 25px;
    border: none;
    font-size: 13px;
    border-radius: 120px;
    cursor: pointer;
}

.btn-icon-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-icons {
    border-radius: 50%;
    padding: 11px;
    border: 2px solid #ff7524;
    font-size: 20px;
}

.banner1-image img {
    width: 410px;
}

.headerbanner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: #fff;
    box-shadow: 10px 10px 5px 5px #f7f7f7;
    max-width: 1100px;
    margin: auto;
    height: 110px;
    border-radius: 120px;
    margin-bottom: 50px;
}

.headerbanner2-text h5 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
}

.headerbanner2-text h6 {
    font-size: 17px;
    font-weight: 300;
}

.headerbanner2-sreach h5 {
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    background: #ff7524;
    color: #fff;
    padding: 10px 25px;
    border: none;
    text-align: center;
    /* width: 150px;
    height: 50px; */
    border-radius: 120px;
    cursor: pointer;
}

.date-icon {
    font-size: 26px;
    margin-left: 7px;
}

.banner-flex-icon {
    display: flex;
    align-items: center;
}


/* .banner2-search-flex {
    display: flex;
    align-items: center;
} */

.search-btn {
    padding-right: 10px;
    font-size: 20px;
}