.Footer-Flex{
    display: flex;
    justify-content: space-evenly;
    background: #fcf1f0;
}
.First-Section{
    padding-bottom: 70px;
}
.Footer-Flex h1{
    color: #000;
    font-weight: 400;
    padding-top: 50px;
}
.Footer-Flex .p-1{
    color: #474545;
    font-size: 12px;
    max-width: 210px;
    padding-left: 32px;
    line-height: 25px;
}
.Footer-Flex h2{
    color: #000;
    font-size: 17px;
    font-weight: 500;
    padding-top: 50px;
}
.Footer-Flex .p-2 {
    color: #777474;
    line-height: 25px;
    font-size: 11px;
}
.Footer-Icons{
    padding-top: 50px;
 }
.Footer-Icon-1{
    padding: 10px;
    border-radius: 100px;
    color:#000 ;
    background: white;
}
.Footer-Icon-2{
    padding: 10px;
    border-radius: 100px;
    color:#000;
    background: white;
}
.Footer-Icon-3{
    padding: 10px;
    border-radius: 100px;
    color:#000;
    background: white;
}
.Footer-Icon-4{
    padding: 10px;
    border-radius: 100px;
    color:#000;
    background: white;
}