.Section-6-Top-Text {
    text-align: center;
    font-size: 25px;
    padding-top: 7%;
}

.Section-6-Top-Text h2 {
    font-size: 40px;
    font-weight: 600;
}

.Section-6-Flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 40px;
    padding-bottom: 10%;
}

.Section-6-Flex .Img-1 {
    max-width: 500px;
    border-radius: 20px 20px 0 0;
}

.Section-6-Flex .Img-2 {
    max-width: 500px;
    border-radius: 20px 20px 0 0;
}

.Section-6-Flex .Img-3 {
    max-width: 450px;
    border-radius: 20px 20px 0 0;
}

.content-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-2 {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    width: 100%;
    cursor: pointer;
}

.overlay-2:hover {
    opacity: 1;
}

.Section6-hover {
    position: relative;
    height: 350px;
}

.Section6-hover button {
    text-decoration: none;
    background: #ff7524;
    color: #fff;
    padding: 9px 25px;
    border: none;
    font-size: 15px;
    width: 200px;
    height: 70px;
    border-radius: 120px;
    cursor: pointer;
}

.Icons-Div {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.Comments {
    display: flex;
    gap: 5px;
    color: rgb(130, 132, 133);
    padding-left: 20px;
    padding-bottom: 10px;
}

.Views {
    display: flex;
    gap: 5px;
    color: rgb(130, 132, 133);
    padding-right: 20px;
    padding-bottom: 10px;
}

.Views h5 {
    font-weight: 400;
}
.Comments h5 {
    font-weight: 400;
}

.Section-6-Flex h3 {
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
}

.Section-6-Flex h2 {
    font-size: 25px;
    padding-left: 10px;
}

.Box-1-Hover:hover {
    box-shadow: 10px 5px 40px rgb(207, 205, 205);
    border-radius: 20px 20px 20px 20px;
}
@media only screen and (max-width: 320px) {
    .Section-6-Top-Text h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 600;
    }
    .Section-6-Flex .Img-1 {
        max-width: 500px;
        border-radius: 20px 20px 0 0;
    }
    
    .Section-6-Flex .Img-2 {
        max-width: 500px;
        border-radius: 20px 20px 0 0;
    }
    
    .Section-6-Flex .Img-3 {
        max-width: 450px;
        border-radius: 20px 20px 0 0;
    }
}
