.section7-flex {
    display: flex;
    /* align-items: center; */
    width: 261px;
    height: 390px;
}

.section7-box {}

.section7-icon {
    display: flex;
    /* align-items: center; */
}

.icon-section {
    color: orange;
}