.Section4-Top-Text h2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-top: 180px;
}
.Section-4-Flex .Row-1 img{
    width: 150px;
}
.Section-4-Flex{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    padding: 80px;
}
.Section-4-Flex button {
    text-decoration: none;
    background: #ff7524;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 120px;
    cursor: pointer;
}