.section5-flex {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8%;

}

.section5-text h2 {
    padding: 3% 0;
    max-width: 1132px;
    margin: auto;
    padding-top: 150px;
}

.section5-bg {
    background: #fefbf6;
    max-width: 1600px;
    margin: auto;
}


/* .section5-background {
    background: url('../images/golbe.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.section5-image img {
    width: 500px;
    border-radius: 4%;
}

.section5-img {
    position: absolute;
    transform: translateY(-377px);
    left: 53%;
}

.section5-img img {
    width: 148px;
    height: 114px;
    border-radius: 14%;
}

.section5-para p {
    max-width: 505px;
}
.Section-5-Btn  {
    text-decoration: none;
    background: #ff7524;
    color: #fff;
    padding: 9px 25px;
    border: none;
    font-size: 13px;
    margin-top: 40px;
    border-radius: 120px;
    cursor: pointer;
}
@media only screen and (max-width: 320px) {
    .section5-text h2{
        text-align: center;
        padding-top: 50px;
    }
    .section5-image img{
        max-width: 300px;
    }
    .section5-para p{
      padding-left: 12px;
        font-size: 12px;
    }
    .section5-img img{
        display: none;
    }
    .Section-5-Btn{
     margin-left: 10px;
    }
}