.section7-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

.section7-bg {
    background: #fefbf6;
    max-width: 1600px;
    margin: auto;
}

.section7-image img {
    width: 500px;
}

.section7-para p {
    max-width: 505px;
}